@tailwind base;
@tailwind components;
@tailwind utilities;

td, th {
	padding: 0.25rem;
	width: 200px;
	text-align: left;
}

.link-active {
	@apply bg-ligth-blue text-white !important;
}

.link {
	@apply flex flex-row items-center gap-x-2 rounded-lg hover:bg-slate-200 px-3 py-2 transition-all;
}

.base-btn {
	@apply py-2 px-4 bg-deep-orange text-white rounded-lg transition-all hover:bg-deep-orange/85;
}

.secondary-btn {
	@apply py-2 px-4 bg-ligth-blue text-white rounded-lg transition-all hover:bg-ligth-blue/85;
}

.delete-btn {
	@apply py-2 px-4 bg-red-500 text-white rounded-lg transition-all hover:bg-red-500/85;
}

.form-container {
	@apply h-full flex flex-col
}

.form-container-content {
	@apply px-6 py-6 overflow-auto h-full flex flex-col gap-4 rounded-lg;
}

.the-input {
	@apply block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50;
}

.the-label {
	@apply block text-nowrap font-semibold text-lg;
}